body {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/back1.jpg');
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(86, 168, 235, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: var(--main-color);
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* Hud
*******************/

#hud {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#timer {
  text-align: center;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
  color: rgb(237, 243, 148);
}

.hud-title {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid var(--main-color);
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: var(--main-color);
  width: 0%;
  transition: width 0.4s;
}

#question {
  font-size: 2.5rem;
  color: #ffd95b;
}
